{% extends "template.html" %}
{% block main %}
<main role="main" class="container">
    <h1 class="mt-5">About HockeyRNN</h1>
    <p>
    This project was undertaken to see whether a neural network can learn to predict statistical output 
    for athletes based on the previous seasons of their career.<br>
    <br>
    Unlike traditional statistics, this model does not treat a player's goals as numbers, and then predict
    based on mathematical trends. Instead, it looks only at the sequence as symbols (as if they were words in a sentence) 
    and generates the next value based on previous symbols. (Think of it like the way your text messaging app tries to predict
    words based on what you've typed so far.)<br>
    The network 'learns' by training itself on sequences of data with a known target value and adjusting its predictions 
    according to whether it predicts correctly or not. This particular model used the career of every NHL (and WHA) player who played 3 or more seasons 
    since 1967, when the NHL expanded to 12 teams, totaling about 6,200 players and about 32,000 different predictions for training.
    </p><br>
    <p>For more information and better explanation of neural networks, <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">this</a> 
    wikipedia article is a good place to start.</p>
    <br>
    <h4>Hockey-Related Notes</h4>
    <p>Currently, this model predicts goal output, primarily because the model sees fewer different values in its training data. As it trains,
    the neural network will assign a probability to every possible value in the training data, so a smaller distribution means the model has 
    fewer values to worry about.Players generally score between 0-40 goals in a season, meaning the model has fewer values from which to choose 
    (using total points would roughly double the potential outputs).</p>
    <p>Because it only accounts for goals, this model tends to predict defensemen (who have lower goal outputs, even at the elite level) and centers
    (who can have the same problem to a lesser degree) very conservatively, and likely has a lower than expected projection for both positions, except
    for elite scoring centers.</p>
    <br>
    <h4>To Do's for the future:</h4>
    <ul>
        <li>Post measured accuracy/methodology</li>
        <li>Think of a snappy name</li>
        <li>Redo projections using total points (goals + assists) instead of only goals</li>
        <li>Rewrite RNN model from scratch to be more streamlined for this specific purpose</li>
        <li>Allow RNN to take age and position inputs into account</li>
        <li>Test out network using NBA data</li>
    </ul>
    <br>
    <br>
</main>
{% endblock main %}
