{% extends "template.html" %}
{% block main %}
    <main role="main" class="container">
        <h1 class="mt-5">Greg's NHL Futures</h1>
        <p class="lead">NHL statistical projection using a <code>sequence-to-sequence recurrent neural network</code>.<br>
        <br>
        For more information about the project methodology, check out the 'About' tab.<br>
        <br>
        Technical information can be found under the 'Technical Info' tab.<br>
        <br>
        <br>
        Questions? Feel free to contact me at greg@greg.greg<br>
        Issues? Contact brand management at branding@greg.com</p>
        <br>
        <p>Quick link to <a href="/projections">projections</a>.</p>
    </main>
{% endblock main %}