{% extends "template.html" %}
{% block main %}
    <main role="main" class="container">
        <h1 class="mt-5">HockeyRNN</h1>
        <br>
        <p class="lead">NHL statistical projection using a sequence-to-sequence recurrent neural network (RNN).<br>
        <br>
        For more information about the project methodology, check out the 'About' tab.<br>
        <br>
        Technical information can be found under the 'Technical Info' tab.<br>
        <br>
        To get started, click on the "NHL Projections" tab up top.<br>
        <br>
        Questions? Ideas for new features/visualizations? Favorite player underrated? Feel free to contact me at greg@greg.greg<br>
        Issues? Contact brand management at branding@greg.com</p>
        <br>
    </main>
{% endblock main %}
